extends layout

block content
  button#call(onClick="getLocalStream(true)") getLocalStream
  button#call(onClick="createRTCPeerConnection()") createRTCPeerConnection
  button#call(onClick="createOffer()") createOffer
  button#call(onClick="createAnswer()") createAnswer
  button#call(onClick="sendStream()") attachLocalStream
  p
  video#vid1(autoplay,width="300px",height="300px")
  video#selfView(autoplay,width="300px",height="300px")
