extends layout

block content
  h1 Lo lograste!
  h2 Welcome to #{title}-Soquete...
  p El código Javascript de esta aplicación Node incluye socket.io. Eso significa que puedes comunicarte en real time desde el cliente al servidor y vice versa.
  p Prueba en la consola algo así:
  code socket.emit('huevapiChannel', { soy: 'la raja' });
  p
